* {
    margin: 0;
    padding: 0;
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: 'Source Sans Pro', sans-serif;
}

div.main-page {
    height: 100vh;
    width: 100%;
    background: url("../images/bg.png") repeat;
    /*background-color: rgb(94, 139, 175);*/
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

div.main-page-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

div.main-page-container div {

}

div.main-page-banner {
    display: flex;
    align-items: center;
}

div.main-page-banner img {

}

div.main-page-banner h1, h2 {
    color: #ffffff;
    line-height: 0.9;
}

div.main-page-banner h1 {
    font-size: 97px;
    border: 1px solid red;
    letter-spacing: inherit;
}

div.main-page-banner h2 {
    font-size: 20px;
    font-weight: normal;
    border: 1px solid green;
}

div.main-page-login-form-container {
    display: flex;
    flex-direction: column;
}


div.main-page-login-form-container input, label {
    display: block;
}

div.main-page-login-form-container label {
    color: #ffffff;
    font-size: 24px;
    font-weight: lighter;
}

.log-reg-input {
    border-radius: 10px;
    border: none;
    padding: 15px;
    outline: none;
    width: 100%;
    box-sizing: border-box;
}

.main-page-input {
    font-size: 24px;
}

.main-page-input::placeholder {
    font-size: 18px;
}

div.main-page-login-form-container input.login {
    margin-bottom: 30px;
}

div.main-page-login-form-container input:focus {
    border: none;
    opacity: 0.9;
}

div.main-page-login-form-container a.forgot-pass {
    color: #ffffff;
    display: block;
    margin-left: auto;
    text-decoration: none;
    margin-bottom: 25px;
}

div.main-page-login-form-container a.forgot-pass:hover {
    text-decoration: underline;
}

.log-reg-buttons {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.log-buttons {
    margin-top: 25px;
}

.log-reg-button {
    height: 40px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 24px;
    padding: 10px 25px;
    color: #000000;
    cursor: pointer;
    line-height: 20px;
    list-style: none;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.log-button{
    background: #ffffff;
    margin-left: auto;
}

div.main-page-login-form-container button:hover {
    background: #51aef8;
    /*opacity: 0.8;*/
}

div.main-page-login-form-container a.register {
    border: none;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-right: 20px;
    width: 100%;
    font-size: 24px;
    border-radius: 10px;
    background: #6d6cbb;
    text-decoration: none;
    color: #000000;
    transition: all 200ms;
    box-sizing: border-box;
}

div.main-page-login-form-container a.register:hover {
    background: #51aef8;
    /*opacity: 0.8;*/
}

div.footer {
    border: 2px solid pink;
}

div.reg-page-container {
    display: flex;
    width: 20vw;
    justify-content: space-around;
}


.reg-input {
    margin-bottom: 20px;
    font-size: 17px;
}

.reg-button {
    font-size: 18px;
    box-sizing: border-box;
}

.reg-back {
    background: #6d6cbb;
}

.reg-next {
    background: #ffffff;
}

.reg-button:hover {
    background: #51aef8;
}

.logo-cont{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.logo-cont a {
text-align: center;
}

.logo-cont img {
    width: 50%;
}

.reg-select {
    border-radius: 10px;
    border: none;
    padding: 15px;
    outline: none;
    width: 100%;
    box-sizing: border-box;
}


